body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed; /*画面下にスクロールしてもヘッダーを固定*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* ヘッダーを他の要素の上に表示 */
}

main {
    display: flex;
    padding-top: 50px;
}

.header-content {
    display: flex;
    align-items: center;
    background-color: #D2C7AB;
    color: black;
    padding: 10px;
    height: 30px;
}
.header-content img {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    transition: all 0.3s ease;
}
.header-content img:hover {
    transform: scale(1.05); /* 5%大きくする */
}

.header-content h1 {
    margin: 0 20px 0 0;
    font-size: 24px;
}
.header-content nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header-content nav a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}
.header-content nav input {
    margin-left: 10px;
    margin-right: 70px;
}

.auth-link {
    text-decoration: underline !important;
    margin-left: 5px !important;
    margin-right: 20px;
}

.username {
    margin-right: 20px;
}

.sidebar {
    position: fixed; /* サイドバーを画面上の固定位置に配置 */
    padding-top: 50px; /* mainのpadding-topと同じ値を設定 */
    height: calc(100vh - 50px); /* ビューポートの高さからヘッダーの高さを引く */
    display: flex;
    width: 96px; /* .boardのwidthと合わせること！ そうしないとテーブルが中央からずれる*/
    background-color: #DCDCDC;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* 影を追加 */
    transition: all 0.3s ease;
    box-sizing: border-box;
    flex-direction: column;*/
}

.sidebar a {
    display: block;
    border-left: 3px solid transparent;
    transition: all 0.3s ease;
    color: black;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #DCDCDC;
    transform: translateX(2px) translateY(2px); /* 右下に少し動く */
}

.sidebar ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

.sidebar li {
    padding: 10px;
    margin-bottom: 10px;
    font: normal 0.9rem "Fira Sans", serif;
    font-weight: bold;
}

.sidebar li:first-child {
    margin-top: -35px; /* 最初のli要素を上に移動 */
}

.board {
    padding-left: 96px; /* .sidebarのwidthと合わせること！ そうしないとテーブルが中央からずれる*/
    align-items: center;
    padding-top: 30px; /* 上部に余白を追加 */
    width: 60%;
    margin: 0 auto; /* 水平方向の中央揃え */
}

.board h1 {
    font-size: 25px;
    font: normal 1.5rem "Fira Sans", serif;
    font-weight: bold;
}

.board form {
    display: inline-block;
}

.board input {
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid; /* 1px=枠線の太さ、solidがないと枠線自体がなくなる */
    margin-right: 5px;
}

.board button {
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    border: 1px solid #ccc; /* 1px=枠線の太さ、solidがないと枠線自体がなくなる. 枠線の色 */
}

.board button:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 影を追加して浮き上がるように見せる */
    transition: all 0.2s ease; /* アニメーションの速度を調整 */
}

.board table {
    margin-top: 20px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse; /* テーブルのセル（th, td）と外枠（table）の境界線を結合. 隣接するセル間の境界線を1本にまとめる.*/
}

.board th, .board td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    overflow: hidden; /* コンテンツが要素のボックスに収まらない場合、はみ出た部分が切り取る */
    text-overflow: ellipsis; /* overflow: hidden; と組み合わせて使用してテキストが要素の幅を超える場合、省略記号（...）で表示する */
    white-space: nowrap; /* テキストの折り返しを防ぎ、一行で表示 (スペースや改行が入っていても、テキストは横に伸び続ける)*/
}

.board th {
    background-color: #BBBBBB;
}

/*(even)をつけるとテーブルの１レコードごとに適用*/
/*.board tr:nth-child(even) { 
    background-color: #f9f9f9;
}*/

.board tr:nth-child {
    background-color: #f9f9f9;
}

.postlist {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.postlist:hover {
    font-weight: bold;
}

.pagination {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.pagination span {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    cursor: pointer;
}

.pagination a:hover {
    text-decoration: underline;
}

.post {
    padding-left: 96px; /* .sidebarのwidthと合わせること！ そうしないとテーブルが中央からずれる*/
    align-items: center;
    padding-top: 70px; /* 上部に余白を追加 */
    width: 60%;
    margin: 0 auto; /* 水平方向の中央揃え */
}