body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed; /*画面下にスクロールしてもヘッダーを固定*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* ヘッダーを他の要素の上に表示 */
}

main {
    display: flex;
    padding-top: 60px; /* ヘッダーの高さと同じ値を設定 */
}

.header-content {
    display: flex;
    align-items: center;
    background-color: #D2C7AB;
    color: black;
    padding: 10px;
    height: 40px; /* ヘッダーの高さを固定 */
}
.header-content img {
    margin-left: 10px;
    margin-right: 10px;
    height: 45px;
}
.header-content h1 {
    margin: 0 20px 0 0;
    font-size: 24px;
}
.header-content nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header-content nav a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}
.header-content nav input {
    margin-left: 10px;
    margin-right: 70px;
}

.auth-link {
    text-decoration: underline !important;
    margin-left: 5px !important;
    margin-right: 20px;
}

.username {
    margin-left: 5px !important;
    margin-right: 20px;
}

.sidebar {
    position: fixed; /* サイドバーを画面上の固定位置に配置 */
    padding-top: 60px; /* ヘッダーの高さと同じ値を設定 */
    height: calc(100vh - 60px); /* ビューポートの高さからヘッダーの高さを引く */
    display: flex;
    width: 96px; /* .boardのwidthと合わせること！ そうしないとテーブルが中央からずれる*/
    background-color: gray;
    box-sizing: border-box;
    flex-direction: column;*/
}

.sidebar ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

.sidebar li {
    padding: 10px;
}

.sidebar li:first-child {
    margin-top: -25px; /* 最初のli要素を上に移動 */
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.board {
    padding-left: 96px; /* .sidebarのwidthと合わせること！ そうしないとテーブルが中央からずれる*/
    align-items: center;
    padding-top: 70px; /* 上部に余白を追加 */
    width: 60%;
    margin: 0 auto; /* 水平方向の中央揃え */
}

.board table {
    width: 100%;
    border-collapse: collapse;
}

.board th, .board td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.board th {
    background-color: #D8BfD8;
}

/*(even)をつけるとテーブルの１レコードごとに適用*/
/*.board tr:nth-child(even) { 
    background-color: #f9f9f9;
}*/

.board tr:nth-child {
    background-color: #f9f9f9;
}

.pagination {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.pagination span {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    cursor: pointer;
}

.pagination a:hover {
    text-decoration: underline;
}