<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Not Found - TechCareer Talk</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <style>
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90vh;
    }
    img {
      object-fit: cover;
      height: 100%;
      border-radius: 10%;
    }
    body {
      background-color: rgb(215, 198, 176);
    }
  </style>
<body>
  <div>
    <img src="/static/images/404.png" alt="404 not found">
  </div>
</body>
</head>