{{ define "top" }}
<!DOCTYPE html>
<html>
<head>
  <title>GoFurther</title>
  <meta charset="UTF-8">
</head>
<body>
  <header>
    {{ template "header" . }}
  </header>
{{ end }}
{{ define "bottom" }}
</body>
</html>
{{ end }}