{{ define "header" }}
<div class="logo" style="background-color: #D2C7AB; color: white;">
    <img src="/static/images/santa.png" alt="logo">
    <h1>TechCareer Talk</h1>
    <nav>
        <a href="/" style="color: white;">Documentation</a>
        <a href="/blog" style="color: white; margin-left: 10px;">Blog</a>
        <a href="/english" style="color: white; margin-left: 10px;">English</a>
        <input type="text" placeholder="Search this site..." style="margin-left: 10px;">
    </nav>
</div>
{{ end }}